@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #3c393d;
    --exDark: #2b2b2b;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}
body{
    line-height: 1.4;
    color: var(--dark);
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

/* header */
header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(Design.jpg) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar{
    background: rgba(0, 0, 0, 0.6);
    padding: 1.2rem;
}
.navbar-nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    position: relative;
}
.navbar-nav ul li a{
    text-decoration: none;
    color: #d8b7ba;
    text-transform: uppercase;
}
.navbar-nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #d8b7ba;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar-nav ul li:hover::after{
    width: 100%;
}
.navbar-brand{
    color: #d8b7ba;
    font-size: 2.5rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: var(--Playfair);
    letter-spacing: 1px;
}
.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}

.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #d8b7ba;
}
.banner-title{
    font-size: 6rem;
    font-family: var(--Playfair);
    line-height: 1.2;
}
.banner-title span{
    font-family: var(--Playfair);
    color: var(--exDark);
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}
.banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}
.search-input{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
}
.search-input::placeholder{
    text-transform: capitalize;
}
.search-btn{
    width: 40px;
    font-size: 1.1rem;
    color: var(--dark);
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}

/* Design - wireframes */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    justify-content: center;
    align-items: center;
    justify-content: center;
}
.slider {
    position: center;
    width: 60%;
    overflow: hidden;
    justify-content: center;
}
.Design-text h2{
    font-family: var(--Playfair);
    padding: 1rem 0;
    font-size: 1.65rem;
    font-weight: 500;
    justify-content: center;
}
.images {
    display: flex;
    width: 100%;
}
.images img {
    height: 400px;
    width: 100%;
    transition: all 0.15s ease;
}
.images input {
    display: none;
    justify-content: center;
}
.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #d8b7ba 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}
.dots label:hover {background: #d8b7ba;}
#img1:checked ~ .m1 {
    margin-left: 0;
}
/*Wireframes*/
#img2:checked ~ .m2 {
    margin-left: -100%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}
#img4:checked ~ .m4 {
    margin-left: -300%;
}
/*Annotated Wireframes */
#img11:checked ~ .m11 {
    margin-left: 0;
}
#img21:checked ~ .m21 {
    margin-left: -100%;
}
#img31:checked ~ .m31 {
    margin-left: -200%;
}
#img41:checked ~ .m41 {
    margin-left: -300%;
}
#img51:checked ~ .m51 {
    margin-left: -400%;
}
#img61:checked ~ .m61 {
    margin-left: -500%;
}
/*StyleGuide*/
#img12:checked ~ .m12 {
    margin-left: 0;
}
#img22:checked ~ .m22 {
    margin-left: -100%;
}
#img32:checked ~ .m32 {
    margin-left: -200%;
}
#img42:checked ~ .m42 {
    margin-left: -300%;
}
#img52:checked ~ .m52 {
    margin-left: -400%;
}
#img62:checked ~ .m62 {
    margin-left: -500%;
}
